.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 16px;
  padding: 34px;
  font-size: larger;
  background-color: rgba(81, 81, 81, 0.95);
  border-radius: 8px;
}

.item-date {
  font-size: smaller;
}
