.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 16px;
  padding: 0px 16px;
  font-size: larger;
  background-color: rgb(249, 216, 173);
  border-radius: 8px;
}

.item-date {
  font-size: smaller;
  margin-bottom: 4px;
}
